.download {
    flex: 1;
    padding: 60px 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 2.8em;
    margin-bottom: 20px;
    font-weight: 600;
    color: var(--accent-color);
}

.subtitle {
    font-size: 1.1em;
    margin-bottom: 40px;
    color: var(--text-color);
}

.tableContainer {
    overflow-x: auto;
    background-color: var(--navbar-bg);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #444;
}

th {
    background-color: #1a1a1a; /* Dark gray */
    font-size: 1.1em;
    color: var(--accent-color);
}

td {
    background-color: var(--navbar-bg);
    color: var(--text-color);
}

tr:hover {
    background-color: #1a1a1a; /* Dark gray */
    transition: background-color 0.3s ease;
}

.downloadLink {
    color: var(--accent-color);
    text-decoration: none;
    font-size: 1.1em;
    transition: all 0.3s ease;
    position: relative;
}

.downloadLink:hover {
    color: #45a049; /* Darker green */
}

.downloadLink::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #45a049; /* Darker green */
    bottom: -2px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.downloadLink:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}